
# connect to X port
[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
# endstop_pin: P1.29
endstop_pin: tmc2209_stepper_x:virtual_endstop
microsteps: 16
full_steps_per_rotation: 400
rotation_distance : 40
position_min: -3.5
position_endstop: -3.5
position_max: 165
homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: false


[tmc2209 stepper_x]
uart_pin: P1.10
diag_pin: ^P1.29
interpolate: True
run_current: 0.9
# hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

# connect to Y port
[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
# endstop_pin: P1.28
endstop_pin: tmc2209_stepper_x:virtual_endstop
microsteps: 16
full_steps_per_rotation: 400
rotation_distance : 40
position_min: -2.5
position_endstop: -2.5
position_max: 165
homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: false


[tmc2209 stepper_y]
uart_pin: P1.9
diag_pin: ^P1.28
interpolate: True
run_current: 0.9
#hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[gcode_macro SET_MOTOR_HOMING_CURRENT]
gcode:
    {% set HOME_CUR = 0.700 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR} HOLDCURRENT={HOME_CUR}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR} HOLDCURRENT={HOME_CUR}

[gcode_macro SET_MOTOR_PRINTING_CURRENT]
gcode:
    {% set x_driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    #{% set X_RUN_CUR = x_driver_config.run_current %}
    #{% set X_HOLD_CUR = x_driver_config.hold_current %}
    #SET_TMC_CURRENT STEPPER=stepper_x CURRENT={X_RUN_CUR} HOLDCURRENT={X_HOLD_CUR}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_driver_config.run_current} HOLDCURRENT={x_driver_config.hold_current}

    {% set y_driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    #{% set Y_RUN_CUR = x_driver_config.run_current %}
    #{% set Y_HOLD_CUR = x_driver_config.hold_current %}
    #SET_TMC_CURRENT STEPPER=stepper_y CURRENT={Y_RUN_CUR} HOLDCURRENT={Y_HOLD_CUR}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={y_driver_config.run_current} HOLDCURRENT={y_driver_config.hold_current}

[gcode_macro SENSORLESS_HOME_X]
gcode:
    {% set HOME_CUR = 0.700 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    {% set HOLD_CUR = driver_config.hold_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR} HOLDCURRENT={HOME_CUR}
    # Home
    G28 X0
    # Move away
    G90
    G1 X40 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR} HOLDCURRENT={HOLD_CUR}

[gcode_macro SENSORLESS_HOME_Y]
gcode:
    {% set HOME_CUR = 0.700 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set RUN_CUR = driver_config.run_current %}
    {% set HOLD_CUR = driver_config.hold_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR} HOLDCURRENT={HOME_CUR}
    # Home
    G28 Y0
    # Move away
    G90
    G1 Y40 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR} HOLDCURRENT={HOLD_CUR}

[gcode_macro DEBUG_TMC_DRIVER]
gcode:
    {% set x_driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    PRINT MSG="{x_driver_config.run_current}"
    PRINT MSG="{x_driver_config.hold_current}"

    {% set y_driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
    PRINT MSG="{y_driver_config.run_current}"
    PRINT MSG="{y_driver_config.hold_current}"

[homing_override]
gcode:
    #G90
    #G0 Z10 F3000
    SENSORLESS_HOME_X
    SENSORLESS_HOME_Y
    G28 Z
axes: xy
#set_position_x:
#set_position_y:
set_position_z: 0

[force_move]
enable_force_move : False


[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}